<div class="this-place">
<div class="white-bg page-heading">
    <div class="col-lg-9">
        <h2>Agendamento - Cadastrar</h2>
    </div>
    <div class="clearfix"></div>
</div>
<div class="area">
    <div class="row">
        <div class="col-lg-12">
            <?php require_once ('form.ctp'); ?>
        </div>
    </div>
</div>
</div>