.actions a {
    margin-left: 2px;
}

.fc-event {
    font-size: 15px !important;
}

.fc-content {
    margin-top: -3px !important;
}

.fc-slats tr {
    height: 35px !important;
}

.background-white {
    background-color: #fff;
}

.header-help {
    float: right;
    margin-right: 2rem;
    margin-top: -80px;
    font-size: 16px;
}

.no-padding {
    padding: 0 !important;
}

.p-15 {
    padding: 10px 10px 10px 10px;
}

.no-margin {
    margin: 0 !important;
}

.text-right {
    text-align: right !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.m-t-1 {
    margin-top: 1px !important;
}

.header-help span {
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    padding: 0.25rem 0.5rem 0.375rem;
    font-size: 0.8rem;
    background-color: #0097a7;
    color: #FFF;
    border-radius: 1000px;

}

.header-help a {
    color: #fff;
}

ul.pagination li a {
    color: rgba(0, 0, 0, 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}

ul.pagination .disabled:hover a {
    background: none;
}

.paginato {
    text-align: center;
}

.paginato ul.pagination li {
    float: none;
    display: inline-block;
}

.paginato p {
    text-align: right;
    color: rgba(0, 0, 0, 0.54);
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    /*text-align: right;*/
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

.asc:after {
    content: " \2193";
}

.desc:after {
    content: " \2191";
}

.form .error-message {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    font-weight: normal;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54);
}

.required > label {
    font-weight: bold;
}

.required > label:after {
    content: ' *';
    color: #C3232D;
}

select[multiple] {
    min-height: 150px;
    background: none;
}

input[type=checkbox],
input[type=radio] {
    margin-right: 0.5em;
}

.date select,
.time select,
.datetime select {
    display: inline;
    width: auto;
    margin-right: 10px;
}

.error label,
.error label.error {
    color: #C3232D;
}

.view h2 {
    color: #6F6F6F;
}

.view .columns.strings {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .numbers {
    background-color: #B7E3EC;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
}

.view .columns.dates {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
    background-color: #DCE47E;
    color: #fff;
}

.view .columns.booleans {
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-right: 0.7rem;
    background-color: #8D6E65;
    color: #fff;
}

.view .strings p {
    border-bottom: 1px solid #eee;
}

.view .numbers .subheader, .view .dates .subheader {
    color: #747474;
}

.view .booleans .subheader {
    color: #E9E9E9
}

.view .texts .columns {
    margin-top: 1.2rem;
    border-bottom: 1px solid #eee;
}

/** Notices and Errors **/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    display: block;
    clear: both;
    background-repeat: repeat-x;
    margin-bottom: 18px;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
}

.cake-debug,
.notice,
p.notice {
    color: #000000;
    background: #ffcc00;
}

.cake-error,
p.error {
    color: #fff;
    background: #C3232D;
}

pre {
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin: 15px 0px;
    color: rgba(0, 0, 0, 0.74);
    padding: 5px;
}

.cake-error .cake-stack-trace {
    margin-top: 10px;
}

.cake-stack-trace code {
    background: inherit;
    border: 0;
}

.cake-code-dump .code-highlight {
    display: block;
    background-color: #FFC600;
}

.cake-error a,
.cake-error a:hover {
    color: #fff;
    text-decoration: underline;
}

.checks {
    padding: 30px;
    color: #626262;
    background-color: #B7E3EC;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 2em;
}

.checks h4 {
    margin-bottom: 1.5rem;
}

.checks hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home .checks.ctp-warning {
    color: black;
    background-color: #ffc600;
}

.home .checks.url-rewriting {
    background-color: #F0F0F0;
    display: none;
}

.checks .success,
.checks .problem {
    margin-left: 10px;
}

.checks .success:before,
.checks .problem:before {
    line-height: 0px;
    font-size: 28px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
}

.checks .success:before {
    content: "✓";
    color: green;
    margin-right: 9px;
}

.checks .problem:before {
    content: "✘";
    color: red;
    margin-right: 9px;
}

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 2048;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
    position: fixed;
    border: none !important;
    border-radius: 0 !important;

}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}

div.message.hidden {
    height: 0;
}

/* css padrao_prontuario */
@media only screen and (max-width: 1400px) {
    .navbar-pronturario .nav > li > a {
        padding: 15px 14px !important;
    }
}

.client-avatar img {
    margin-top: -2px !important;
}

.modal .page-heading {
    background: #f3f3f4;
}

.modal .breadcrumb {
    background: #f3f3f4;
}

#modal .page-heading {
    background-color: #f3f3f4 !important;

}

#modal .breadcrumb {
    background-color: #f3f3f4 !important;
}

#modal_lg .page-heading {
    background-color: #f3f3f4 !important;

}

#modal_lg .breadcrumb {
    background-color: #f3f3f4 !important;
}

.dropdown ul.dropdown-prontuario {
    left: -150px !important;
}

.skin-settings {
    width: 220px;
    margin-left: 40px;
    background: #f3f3f4;
}

.fc-bg {
    text-align: right;
    padding: 5px;
}

.valor_prod_fatura {
    color: #23c6c8;
}

.valor_prod_caixa {
    color: #f8ac59
}

.valor_prod_convenio {
    color: #1c84c6
}

.valor_prodclin_recebimento {
    color: red;
}

.valor-prodclin-recebimento a {
    color: red;
}

.valor-prod-fatura a {
    color: #23c6c8;
}

.valor-prod-caixa a {
    color: #f8ac59
}

.valor-prod-convenio a {
    color: #1c84c6
}

.situacao-fatura {
    color: #25ff20;
}

/* CSS GALERIA DE ANEXOS CLIENTES */
/*.container-galeria {
    clear: both;
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 20px;
}
.container-galeria h2 {
    margin-left: 25px;
}
.content-img {
    margin-top: 25px;
    margin-left: 25px;
}
.galeria-scroll {
    height: 300px;
    overflow: auto;
}
#navlist-galeria {
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
    height: 300px;
    overflow: auto;
}
.container-fixed {
    position: fixed;
    !*z-index: 9999;*!
    margin-top: 30px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 90%;
}
@media only screen and (max-width : 768px) {
    .container-fixed {position: relative;}
    .galeria-scroll {margin-top: 50px}
}*/
.container-galeria {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 5px;
}

.compare-image {
    /*margin: 10px 0px 10px 0px;*/
}

.compare-image li {
    max-width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #fff;
}

.galeria-oftalmo {
    margin: 10px 0px 10px 0px;
    /*background-color: #eee;*/
}

.title-galeria {
    padding-top: 10px;
}

.title-tipos {
    background-color: #3d4d5d !important;
}

.title-tipos a {
    color: #fff !important;
}

.footer-galeria {
    padding: 5px;
    font-size: 10px;
}

.galeria-oftalmo li {
    max-width: 100px;
    height: 150px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
}

.galeria-oftalmo li img {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #e7eaec;
}

.img-selected {
    border: 2px solid red;
}

.container-file {
    max-width: 150px;
    height: 150px;
    background-color: #fff;
}

/*********************************/

/* Formulario Mastologia */
.fundoHeaders {
    background-color: #1ab394 !important;
    color: #FFFFFF !important;
}

.fontHeaders {
    font-weight: bolder;
    font-size: large !important;
}

.alinhaCheckbox {
    text-align: center;
}

/************************/
.fill-content-search {
    margin-top: 15px;
    text-align: center;
}

.dropdown-menu > li.kopie > a {
    padding-left: 2px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    border-color: transparent transparent transparent #333;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #555;
}

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
    text-decoration: none;
}

@media (max-width: 767px) {

    .navbar-nav {
        display: inline;
    }

    .navbar-default .navbar-brand {
        display: inline;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav .dropdown-menu > li > a {
        color: red;
        background-color: #ccc;
        border-radius: 4px;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #ccc;
    }

    .navbar-nav .open .dropdown-menu {
        border-bottom: 1px solid white;
        border-radius: 0;
    }

    .dropdown-menu {
        padding-left: 10px;
    }

    .dropdown-menu .dropdown-menu {
        padding-left: 20px;
    }

    .dropdown-menu .dropdown-menu .dropdown-menu {
        padding-left: 30px;
    }

    li.dropdown.open {
        border: 0px solid red;
    }

    #modal_lg .modal-lg {
        max-width: 600px !important;
        width: auto !important;
    }

}

@media (min-width: 768px) {
    li.dropdown-submenu:hover > ul.dropdown-menu {
        display: block;
    }

    #navbar {
        text-align: center;
    }
}

.btn-cinza {
    background-color: #cccccc !important;
    border-color: #cccccc !important;
    color: #FFFFFF !important;
}

.btn-cinza:hover,
.btn-cinza:focus,
.btn-cinza:active,
.btn-cinza.active,
.open .dropdown-toggle.btn-cinza,
.btn-cinza:active:focus,
.btn-cinza:active:hover,
.btn-cinza.active:hover,
.btn-cinza.active:focus {
    background-color: #999999 !important;
    border-color: #999999 !important;
    color: #FFFFFF !important;
}

/* Laudos */
.ulEntregarLaudo ul {
    list-style: none;
    margin-left: -40px;
}

.ulEntregarLaudo ul li {
    margin-bottom: 10px;
}

/******************/
/* Resolve bug quando abre os modais com bootstrap dialog */
.modal {
    background-color: #17191c !important;
}

.modal-backdrop {
    background-color: #17191c !important;
    margin-top: 2px !important;
}

.modal-backdrop.in {
    opacity: 1 !important;
}

/**********************************************************/

/* New Load Gif com logo da G2i */
.load-gif {
    position: fixed;
    margin-top: 2px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5000;
    background-color: #17191c;
}

.img-gif {
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.load-gif img {
    max-width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/********************************/
/* Resolve bug do select2 multiple com button group */
span.select2 {
    width: 100% !important;
}

/******************************/
/* alinha os botões de cadastrar nos index */
.btnAdd {
    padding-top: 5px;
    margin-bottom: -5px;
}

/********************************************/
/* Laudos */
.color-laudo-aguardando {
    color: #F02318;
}

.color-laudo-exame {
    color: #F7A116;
}

.color-laudo-liberado {
    color: #28a745;
}

.btn-laudo-aguardando {
    background-color: #F02318 !important;
    color: #fff !important;
}

.btn-laudo-exame {
    background-color: #F7A116 !important;
    color: #fff !important;
}

.btn-laudo-liberado {
    background-color: #28a745 !important;
    color: #fff !important;
}

/*********/
/* Pega tamanho total dos formularios com jquery step */
.wizard > .content {
    min-height: 350px !important;
}

.wizard > .content > .body {
    position: relative !important;
    width: 100% !important;
}

/******************/
/* Btn aplicar desconto */
#aplicar-desconto i {
    color: red;
}

/**********************/
/* contadores prontuario */
.badge-g2i {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px 2px 0px 0px;
}

/*************************/
/* ibox g2i */
.ibox-title-g2i {
    background-color: #1ab394 !important;
    color: #fff !important;
}

.ibox-content-g2i {
    background-color: #f5f5f5 !important;
    border: 1px solid #e3e3e3 !important;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05) !important;
}

.ibox-g2i {
    margin-bottom: 0px !important;
}

/*******************/
/*#agenda-fone {*/
/*display: none;*/
/*}*/

#external-events {
    min-width: 200px;
    position: fixed;
    z-index: 2000;
    top: 10%;
    left: 0;
    background-color: #e9e9e9;
    display: none;
}

#external-events-listing {
    padding: 10px;
}

.external-event-footer {
    padding: 10px;
}

.external-event-title {
    background-color: #1ab394;
    padding: 5px;
    color: #fff;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#external-events .fc-time {
    font-size: 10px;
}

#external-events .fc-title {
    font-size: 12px;
}

#external-events .radio {
    margin: 0;
}

.txtTransferirAgendamento {
    color: #232020 !important;
}

.txtCopiarAgendamento {
    color: #4286f4 !important;
}

.btnTransferirAgendamento {
    background-color: #232020;
    color: #fff;
}

.btnTransferirAgendamento:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.btnCopiarAgendameto {
    background-color: #4286f4;
    color: #fff;
}

.btnCopiarAgendameto:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.loadGifHorarios h1 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.loadGifHorarios img {
    top: 60% !important;
}

.text-wrap-td {
    max-width: 550px !important;
    word-wrap: break-word !important;
}

.aumenta-modal {
    width: 1200px !important;
}

.event-count {
    /*background-color: green;*/
    width: 15px;
    height: 15px;
    text-align: center;
    margin-left: 5px;
    line-height: 15px;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    z-index: 9999;
}

.fc-agendaMonth-view .fc-day-grid-event {
    margin-top: 25px !important;
}

.fc-agendaMonth-view a.fc-more {
    position: absolute;
    padding-top: 20px;
}