.p-t-10 {
    padding-top: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-l-r-20 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.all-border {
    border: 1px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.p-t-20 {
    padding-top: 20px !important;
}

.modal-background {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: fixed;
    z-index: 9; /* .modal[zIndex] - 1 */
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.p-t-25 {
    padding-top: 25px !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-28 {
    margin-top: 28px !important;
}

.m-lr-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.p-10 {
    padding: 10px !important;
}

.m-t-23 {
    margin-top: 23px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.float-r {
    float: right !important;
}

.bolder {
    font-weight: bold;
}

.dropdown-menu-left {
    left: -88px !important;
}

.no-radius {
    border-radius: 0 !important;
}

/* .form-group > .select2 > .selection > .select2-selection { 
    height: 34px !important;
    border-radius: 0 !important;
    border-color: #d2d6de;
} */

.no-border {
    border: none !important;
}

.fix-right-buttom {
    border-radius: 0 3px 3px 0 !important;
}

.skin-purple .main-header .logo {
    background-color: #89b178;
}

.skin-purple .main-header li.user-header {
    background-color: #89b178;
}

.skin-purple .main-header .logo:hover {
    background-color: #89b178b3;
}

.skin-purple .main-header .navbar .sidebar-toggle:hover{
    background-color: #1e272b;
}

.background-lightgrey {
    background-color: #ecf0f5 !important;
}

.text-center {
    text-align: center !important;
}

.text-grey {
    color: grey;
}

.font-14 {
    font-size: 14px !important;
    color: grey;
}

.img-gif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-gif img {
    max-width: 50px;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.block-click-div {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width:  100%;
    height: 1000px;
    z-index: 1000;
    margin-top: -100px;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.small-617AB5{
    color: #617AB5 !important;
}

.background-white {
    background-color: white !important;
}

.p-tb-10 {
    padding: 10px 0 10px 0 !important;
}

.b-shadow-inside {
    -moz-box-shadow:    inset -5 0 5px grey;
    -webkit-box-shadow: inset 0 0 5px grey;
    box-shadow:         inset 0 0 5px grey;
}

.d-credit {
    color: #42b243 !important;
}

.d-debit {
    color: #dd4d4d !important;
}


.float-list,.tags-list{
	position:fixed;
    z-index:100;
    padding-left: 55px;
}

.float-list li, .tags-list li {
	list-style:none;
    display:inline-block;
}

.float-list li button, .tags-list li button {
	display:inline;
}

.float-list:hover, .tags-list:hover {
	visibility:visible!important;
	opacity:1!important;
}


.float-fixed-right, #btn-comments, #btn-particularidades {
    z-index: 300;
    top: 45%;
    right: 0.5%;
    position: fixed;
}

#btn-particularidades {
    top: 55%;
}

.float-fixed-right .label {
    position: absolute;
    left: -10px;
    top: 35%;
}

.floating-modal {
    max-width: 260px;
    color: white;
    overflow: auto;
    max-height: 230px;
    padding: 15px;
    border-radius: 10px;
    height: 230px;
}


.floating-anotacoes {
    top: 10%;
    background: #ed5565;
}

.floating-particularidades  {
    top: 63.25%;
    background: #f8ac59;
}