body {
    font: 14px/24px 'Roboto Condensed', sans-serif;
    color: #2b2e33;
    background: #fff;
}

.background-white {
    background-color: #fff;
}

.dropdown-menu li{
    /*color: #fff !important;*/
}
.dropdown-menu li:hover{
    color: #000 !important;
}

/* Standard Styles Starts */

a { color: #059993; }
a:hover,
a:focus {
    color: #04807b;
}
a:focus { outline: none; }

hr {
    border-color: #d5d5d5;
}
.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}
/* Heading Styles Starts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 30px; }
h5 { font-size: 24px; }
h6 { font-size: 18px; }

/* Typography Styles Starts */

.top-bar,
.camera_wrap h2 {
    font-family: 'Raleway', sans-serif;
}
.welcome h1,
.footer-main-head {
    font-family: 'BenchNine', sans-serif;
}

/* Form & Buttons Styles Starts */

.btn-secondary {
    background-color: #01b9af;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    background-color: #00a79e;
}
.btn-lite,
.btn-lite:hover,
.btn-lite:focus,
.btn-lite:active,
.btn-lite.active {
    background-color: #fff;
}
.btn-lite,
.btn-lite:hover,
.btn-lite:focus,
.btn-lite:active,
.btn-lite.active {
    color: #009f96;
}

/* Header Styles Starts */

.main-header {
}

/* Top Bar Styles Starts */

.top-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #c1c1c1;
    font-size: 18px;
    background-color: #52565f;
}
.top-bar ul {
    margin-bottom: 0;
}
.top-bar a,
.top-bar a:hover {
    color: #fff;
}

/* Navbar Styles Starts */

#nav {
    background-color: #fff;
}
#nav.navbar {
    margin-bottom: 0;
    min-height: 100px;
}
#nav .navbar-brand {
    padding-top: 33px;
    height: auto !important;
}
#nav.navbar-default,
.navbar-static-top {
    background: none;
    border: none;
}
#nav .nav {
    margin-top: 28px;
}
#nav.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    font-weight: normal;
    color: #52565f;
    text-transform: uppercase;
}
#nav .navbar-nav > li.active > a,
#nav.navbar-default .navbar-nav > .open > a,
#nav.navbar-default .navbar-nav > .open > a:hover,
#nav.navbar-default .navbar-nav > .open > a:focus,
#nav .dropdown-menu > .active > a,
#nav .dropdown-menu > .active > a:hover,
#nav .dropdown-menu > .active > a:focus {
    background: none;
}
#nav .navbar-nav > li:hover > a,
#nav .navbar-nav > li.active > a,
#nav .navbar-nav > li > a:hover,
#nav .navbar-nav > li > a:focus {
    color: #00b8b0;
}
#nav .dropdown-menu {
    background-color: #00b8b0;
    padding: 10px 0;
    left: 0;
    border: none;
}
#nav .dropdown-menu > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-size: 16px;
}
#nav .dropdown-menu > li > a:hover,
#nav .dropdown-menu > li > a:focus {
    background-color: #06938b;
}
#nav .dropdown-menu > .active > a,
#nav .dropdown-menu > .active > a:hover,
#nav .dropdown-menu > .active > a:focus {
    background-color: #52565f;
}

/* Slider Styles Starts */

.camera_wrap h2 {
    margin: 0;
    font-weight: 100;
    color: #2b2e33;
}
.camera_wrap h2 + h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
}
.camera_caption {
    width: 55%;
    left: 15%;
    top: 60%;
}
.camera_caption > div {
    padding: 25px 50px;
    background: rgba(255, 255, 255, 0.7);
}
.camera_prev {
    left: 4%;
}
.camera_next {
    right: 4%;
}
.camera_prev,
.camera_next {
    background: rgba(255, 255, 255, 1);
}

/* Main Container Styles Starts */

.main-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Main Heading Styles Starts */

.main-heading-1 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c1c3c6;
}
.main-heading-1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 146px;
    height: 3px;
    background-color: #01b9af;
}
.main-heading-1.big:after {
    width: 300px;
}
.main-heading-2 {
    color: #01b9af;
}

/* Notification Section Styles Starts */

.notification-area {
    background-color: #01b9af;
    text-align: center;
}
.notification-area .block {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.notification-area .block.lite {
    padding: 30px 25px 0;
    background-color: #fff;
    color: #2b2e33;
}
.notification-area .block h2 {
    margin-top: 0;
}
.notification-area .block h3 {
    margin-bottom: 20px;
    font-weight: 300;
}
.notification-area .block.lite ul {
    margin-top: 25px;
}
.notification-area .block.lite li {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    border-bottom: 1px solid #d7d7d7;
}
.notification-area .block.lite li:last-of-type {
    border: none;
}
.notification-area .btn-lite {
    margin-top: 15px;
    padding: 6px 20px;
    font-size: 18px;
}

/* Welcome Section Styles Starts */

.welcome {
    margin-bottom: 30px;
}
.welcome h1 {
    color: #01b9af;
    font-weight: 500;
}
.welcome p.lead {
    font-size: 24px;
    font-weight: 300;
    color: #1c1c1c;
    line-height: 40px;
}

/* Intro Block Styles Starts */

.intro-block {
    margin-top: 30px;
}
.intro-block h4 {
    font-weight: 300;
}
.intro-block h4:last-of-type {
    margin-bottom: 30px;
}
.intro-block .btn-secondary {
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Features Block Styles Starts */

.features-list {
    margin-bottom: 30px;
}
.features-list li {
    margin-top: 30px;
}
.features-list li .fa {
    margin-top: 10px;
    font-size: 72px;
    color: #01b9af;
}

.features-list li a{
    color:#000;
}
/* Panel Styles Starts */

.panel-smart {
    margin-top: 30px;
    margin-bottom: 0;
}
.panel-smart.blog {
    margin-top: 0;
    margin-bottom: 40px;
}
.panel-smart .panel-heading {
    position: relative;
    padding: 20px 30px 18px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #01b9af;
}
.panel-smart.blog .panel-heading {
    padding: 14px 20px;
    text-transform: capitalize;
}
.panel-smart .panel-heading:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 26px 26px 0;
    border-style: solid;
    border-color: #017f78 #fff;
}
.panel-smart .panel-heading .fa {
    margin-right: 10px;
}
.panel-smart .panel-body {
    padding: 30px 35px;
    background-color: #f3f3f3;
}
.panel-smart.blog .panel-body {
    padding: 20px;
}
.panel-smart.blog .panel-body p {
    margin-bottom: 20px;
}
.panel-smart.blog.single .panel-body blockquote {
    padding: 0 20px;
    color: #1c1c1c;
    font-size: 14px;
    border-color: #1c1c1c;
    font-style: italic;
}
.panel-smart .panel-body ul {
    margin-bottom: 0;
}
.panel-smart .panel-body li {
    padding-bottom: 10px;
}
.panel-smart .panel-body li .fa {
    margin-right: 10px;
    color: #01b9af;
}
.panel-smart.blog .panel-body .btn {
    padding: 7px 20px;
}
.panel-smart.blog .panel-body .post-info {
    margin-bottom: 8px;
}
.panel-smart.blog .panel-body .post-info li {
}
.panel-smart.blog .panel-body .post-info li .fa {
    margin-right: 8px;
}
.panel-smart.blog .panel-body .post-info li,
.panel-smart.blog .panel-body .post-info li a,
.panel-smart.blog .panel-body .post-info li .fa {
    color: #494949;
}
.panel-smart.blog .panel-body .post-info li a:hover,
.panel-smart.blog .panel-body .post-info li a:focus,
.panel-smart.blog .panel-body .post-info li a:hover .fa,
.panel-smart.blog .panel-body .post-info li a:focus .fa {
    color: #00a79e;
    text-decoration: none;
}

/* Profile Section Styles Starts */

.profile-box {
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
    background-color: #01b9af;
}
.profile-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 40px 40px 0;
    border-style: solid;
    border-color: #017f78 #fff;
}
.profile-box .content {
    padding: 40px 40px 40px 20px;
}
.profile-box .content h4 {
    margin-top: 20px;
    margin-bottom: 30px;
}
.profile-box .content p {
    margin-bottom: 30px;
}
.profile-box .content p:last-of-type {
    margin-bottom: 0;
}

/* Testimonial Section Styles Starts */

.testimonials {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url(../images/testimonial-bg.jpg);
}
.testimonials,
.testimonials a {
    color: #fff;
}
.testimonials h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.testimonials p.lead {
    font-size: 18px;
    font-weight: 500;
}
.testimonials .item .img-responsive {
    margin-top: 30px;
    margin-bottom: 10px;
    border: 3px solid #fff;
}
.testimonials .item .lead {
    padding: 20px 40px;
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
}
.testimonials .item h4 {
    font-weight: bold;
}
.testimonials .item h5 {
    position: relative;
}
.testimonials .item h5:after {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 10px;
    width: 40%;
    height: 2px;
    background-color: #fff;
}
.testimonials h5 .fa {
    font-size: 18px;
}
.testimonials .item h6 {
    font-weight: 300;
}
.testimonials .item h4,
.testimonials .item h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.testimonials .carousel-control {
    background: none;
    text-shadow: none;
}
.testimonials .carousel-indicators {
    bottom: -70px;
}
.testimonials .carousel-indicators li {
    margin: 1px 3px;
    width: 14px;
    height: 6px;
    background-color: #fff;
    border: none;
}
.testimonials .carousel-indicators li.active {
    background-color: #24f6eb;
}

/* Appointment Styles Starts */

.appointment-block {
    padding-top: 50px;
    padding-bottom: 50px;
}
.appointment-block .form-group {
    margin-bottom: 22px;
}
.appointment-block input.form-control,
.appointment-block select.form-control {
    padding: 8px 16px;
    line-height: normal;
    height: 42px;
}
.appointment-block textarea.form-control {
    padding: 18px;
}
.appointment-block .btn-secondary {
    margin-top: 5px;
    padding: 8px 20px;
}

/* Bio Section Styles Starts */

.bio-section {
    margin-bottom: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    background-image: url(../images/bio-section-bg.jpg);
}
.bio-section h2 {
    margin-bottom: 30px;
}
.bio-section p.lead {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.bio-section .counter {
    margin-top: 30px;
    margin-bottom: 30px;
}
.bio-section .counter li {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.bio-section .counter h3 strong {
    font-size: 60px;
}

/* Tabs Styles Starts */

.tabs-wrap {
    margin-top: 20px;
}
.tabs-wrap ul.nav-tabs {
    border: 1px solid #d5d5d5;
}
.tabs-wrap ul.nav-tabs li + li {
    border-left: 1px solid #d5d5d5;
}
.tabs-wrap ul.nav-tabs li a {
    padding: 15px 30px;
    margin-right: 0;
    color: #2b2e33;
    font-size: 18px;
}
.tabs-wrap ul.nav-tabs li a:hover,
.tabs-wrap ul.nav-tabs li a:focus {
    color: #01b9af;
    background: none;
}
.tabs-wrap ul.nav-tabs li.active a {
    color: #fff;
    background-color: #01b9af;
}
.tabs-wrap .tab-content {
    padding: 25px 30px;
    border: solid #d5d5d5;
    border-width: 0 1px 1px 1px;
}
.tabs-wrap .tab-content p {
    margin-bottom: 20px;
}

/* Content Block Styles Starts */

.content-block-1 {
    margin-bottom: 60px;
}
.content-block-1:last-of-type {
    margin-bottom: 0;
}
.content-block-1 p {
    margin-bottom: 20px;
}

/* Gallery Styles Starts */

ul#gallery-filter {
    margin-top: 10px;
    margin-bottom: 5px;
}
ul#gallery-filter li {
    font-size: 18px;
}
ul#gallery-filter li + li {
    margin-left: 15px;
}
ul#gallery-filter li a {
    color: #2b2e33;
}
ul#gallery-filter li a.active,
ul#gallery-filter li a:hover,
ul#gallery-filter li a:focus {
    color: #01b9af;
    text-decoration: none;
}
ul#gallery-grid {
    list-style:none;
    overflow: hidden;
}
ul#gallery-grid li {
    margin-top: 30px;
}
ul#gallery-grid li a.gallery-zoom {
    opacity: 1;
}
ul#gallery-grid li a.gallery-zoom:hover {
    opacity: 0.6;
}
ul#gallery-grid li .thumbnail {
    margin-bottom: 0;
    line-height: normal;
    border-color: #cfcfcf;
}
ul#gallery-grid li h5 {
    margin-top: 25px;
    margin-bottom: 15px;
}

/* Blog Author Bio Box Styles Starts */

.blog-author-bio {
    margin-bottom: 50px;
}
.blog-author-bio .author-bio-img img {
    padding: 5px;
    border: 1px solid #d5d5d5;
}
.blog-author-bio p {
    margin-bottom: 15px;
}
.blog-author-bio p:last-of-type {
    margin-bottom: 0;
}

/* Comments Area Styles Starts */

.comments-area {
    margin-top: 50px;
}
.comments-area .media {
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid #d5d5d5 !important;
}
.comments-area > .media .media-body > .media {
    margin-top: 25px;
    padding: 20px;
    background-color: #f5f5f5;
}
.comments-area .media-left, .media > .pull-left {
    padding-right: 20px;
}
.comments-area .media-heading {
    color: #01b9af;
}
.comments-area .media-body {
}
.comments-area .media-body .date,
.comments-area .media-body .date a {
    color: #7f7f7f;
}
.comments-area .media-body .comments-btn {
    padding-top: 15px;
}
.comments-area .media-body .comments-btn li a {
    padding: 5px 10px;
    border: 1px solid #d5d5d5;
    color: #1c1c1c;
}
.comments-area .media-body .comments-btn li a:hover,
.comments-area .media-body .comments-btn li a:focus {
    background-color: #01b9af;
    color: #fff;
    text-decoration: none;
    border-color: #01b9af;
}

/* Comments Form Styles Starts */

.comment-form {
    margin-bottom: 20px;
}
.comment-form .form-control {
    padding: 12px 16px;
}
.comment-form input.form-control {
    height: 42px;
    line-height: normal;
}
.comment-form .btn {
    padding: 10px 30px;
}

/* Pagination Styles Starts */

.pagination {
    margin-top: 10px;
}
.pagination > li {
    display: inline-block;
    margin-right: 4px;
}
.pagination > li > a,
.pagination > li > span {
    padding: 8px 16px;
    background-color: #1c1c1c;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #01b9af;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
    border: none;
}

/* Map Styles Starts */

.map {
    margin-top: 20px;
    height: 375px;
}

/* Contact Form Styles Starts */

#main-contact-form {
    margin-top: 20px;
}
.contact-status {
    display: none;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.contact-form input.form-control {
    padding: 7px 14px;
    line-height: normal;
    height: 40px;
}
.contact-form .btn-secondary {
    margin-top: 0;
    padding: 8px 20px;
}

/* List Style Starts */

.list-style-1,
.list-style-2 {
    margin-bottom: 0;
}
.list-style-1 li {
    padding-bottom: 8px;
}
.list-style-1 li:last-of-type,
.list-style-2 li:last-of-type {
    padding-bottom: 0;
}
.list-style-1 li .fa {
    margin-right: 8px;
    font-size: 16px;
    color: #01b9af;
}

.list-style-2 {
}
.list-style-2 li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-style-2 img.pull-left {
    margin-top: 6px;
    margin-right: 20px;
}
.list-style-2 li h6 {
    margin-top: 0;
    margin-bottom: 6px;
    color: #01b9af;
}
.list-style-2 li p {
    margin-bottom: 5px;
}
.list-style-2 li .date-stamp {
    margin-bottom: 0;
    color: #7f7f7f;
}

.address-list {
    margin-top: 10px;
    margin-bottom: 20px;
}
.address-list li {
    padding-top: 20px;
    font-size: 18px;
}
.address-list li,
.address-list li a {
    color: #1c1c1c;
}
.address-list li a:hover {
    color: #01b9af;
}
.address-list li .fa {
    margin-right: 15px;
}

/* Side Block Styles Starts */

.side-block-1 {
    margin-bottom: 50px;
}
.side-block-1:last-of-type {
    margin-bottom: 0;
}

/* Staff Carousel Styles Starts */

#staff-carousel {
    padding: 20px;
    border: 1px solid #d5d5d5;
}
#staff-carousel.fader .item {
    background-color: #fff;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
}
#staff-carousel.fader .active {
    opacity: 1;
}
#staff-carousel.fader .active.left,
#staff-carousel.fader .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
#staff-carousel h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #01b9af;
}
#staff-carousel .carousel-control {
    top: -80px;
    width: 30px;
    height: 30px;
    color: #2b2e33;
    background: none;
    text-shadow: none;
    text-align: center;
    border: 1px solid #d5d5d5;
}
#staff-carousel .carousel-control:hover,
#staff-carousel .carousel-control:focus {
    color: #01b9af;
    border-color: #01b9af;
}
#staff-carousel .carousel-control.left {
    right: 40px;
    left: auto;
}
#staff-carousel .carousel-control .fa {
    font-size: 18px;
    font-weight: bold;
}

/* Accordions Styles Starts */

#accordion {
}
#accordion.panel-group .panel {
}
#accordion .panel {
}
#accordion.panel-group .panel + .panel {
    margin-top: 1px;
}
#accordion .panel-heading {
    padding: 15px 20px;
    background-color: #01b9af;
}
#accordion .panel-heading:hover,
#accordion .panel-heading:focus,
#accordion .panel-heading:active,
#accordion .panel-heading.active {
    background-color: #078c85;
}
#accordion .panel-title {
    font-size: 18px;
}
#accordion .panel-title .fa {
    font-size: 24px;
}
#accordion .panel-heading,
#accordion .panel-title a,
#accordion .panel-heading.active .panel-title a,
#accordion .panel-title a:hover,
#accordion .panel-title a:focus {
    color: #fff;
    text-decoration: none;
}
#accordion.panel-group .panel-heading + .panel-collapse > .panel-body {
}
#accordion .panel-collapse > .panel-body {
    padding: 0;
}
#accordion .panel-body .thumbnail {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: normal;
}
#accordion .panel-body .thumbnail > .caption {
    position: absolute;
    padding: 13px 7%;
    left: 15px;
    bottom: 15px;
    color: #fff;
    width: 86%;
    background-color: rgba(0, 0, 0, 0.6);
}
#accordion .panel-body .thumbnail > .caption h6 {
    margin-top: 0;
    font-weight: 300;
}
#accordion .panel-body .thumbnail > .caption p {
    margin-bottom: 0;
    font-size: 12px;
}

/* Footer Styles Starts */

.main-footer,
.main-footer a {
    color: #fff;
}
.footer-area {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #01b9af;
}
.footer-area h2,
.footer-area h4 {
    margin-top: 0;
}
.footer-area h4 {
    margin-bottom: 20px;
}
.footer-links-style-1 {
    margin-top: 5px;
}
.footer-links-style-1 li + li {
    padding-top: 8px;
}
.footer-links-style-1 li a {
    font-weight: 600;
}
.footer-links-style-1 li a .fa {
    margin-right: 10px;
}
.footer-links-style-2 {
    margin-top: 20px;
}
.footer-links-style-2 li {
    margin-bottom: 7px;
    font-size: 18px;
}
.footer-links-style-2 li .fa {
    margin-right: 10px;
    vertical-align: middle;
}
.footer-links-style-2 li .fa-map-marker {
    font-size: 24px;
}
.footer-links-style-2 li .fa-mobile {
    font-size: 30px;
}
.footer-links-style-2 li .fa-envelope {
    font-size: 18px;
}
.footer-main-head {
    padding-left: 40px;
    text-transform: uppercase;
    background: url(../images/foot-logo-icon.png) no-repeat left 7px;
}
.footer-sm-links {
    margin-top: 40px;
}
.footer-sm-links li {
}
.footer-sm-links li + li {
    margin-left: 14px;
}
.footer-sm-links li .fa {
    font-size: 36px;
}
.copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #00938b;
}

/* Generic Styles Starts */

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.no-border-radius,
#nav .dropdown-menu,
.panel-smart,
.panel-smart .panel-heading,
.panel-smart .panel-body,
.panel-smart.blog .panel-body .btn,
.testimonials .carousel-indicators li,
#accordion.panel-group .panel,
#accordion .panel-heading,
#accordion .panel-body .thumbnail,
.appointment-block .form-control,
.appointment-block .btn,
ul#gallery-grid li .thumbnail,
.pagination,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.contact-form .form-control,
.contact-form .btn,
.comment-form .btn,
.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.camera_prev,
.camera_next,
.img-style-1 {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.btn-secondary,
.btn-lite {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.no-boxshadow,
#nav .dropdown-menu,
.panel-smart,
#accordion.panel-group .panel,
.appointment-block .form-control:focus,
.contact-form .form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#nav {
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.btn-lite:hover,
.btn-lite:focus,
.btn-lite:active,
.btn-lite.active {
    -webkit-box-shadow: 4px 4px 0 #009189;
    -moz-box-shadow: 4px 4px 0 #009189;
    box-shadow: 4px 4px 0 #009189;
}
#accordion .panel,
#accordion .panel-body .thumbnail,
.panel-smart,
.tabs-wrap ul.nav-tabs li a,
.tabs-wrap .nav-tabs > li.active > a,
.tabs-wrap .nav-tabs > li.active > a:focus,
.tabs-wrap .nav-tabs > li.active > a:hover {
    border: none;
}
#accordion .panel-heading,
.appointment-block .form-control,
ul#gallery-filter li a,
ul#gallery-grid li a.gallery-zoom,
.pagination > li > a,
.pagination > li > span,
.contact-form .form-control,
.tabs-wrap ul.nav-tabs li a,
#staff-carousel .carousel-control,
.btn-secondary,
.btn-lite {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
#staff-carousel.fader .item {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.bg-header-modal {
    height:80px;
    width: 100%;
    background-color: #f3f3f4;
}
.bg-header-modal button{
    padding-right: 5px;
}
.bg-header-modal h3{
    margin-left: 10px;
    margin-top: 30px;
}
.bg-header-modal a{
    margin-top: 30px;
}