/* Large Devices Styles Starts */

@media (min-width: 1200px) {

    /* Navigation Styles Starts */

    #nav .dropdown:hover .dropdown-menu {
        display: block;
    }

    /* Gallery Styles Starts */

    ul#gallery-grid.col3 li {
        min-height: 239px;
        height: auto !important;
        height: 239px;
    }
    ul#gallery-grid.col3-text li {
        min-height: 391px;
        height: auto !important;
        height: 391px;
    }
    ul#gallery-grid.col4 li {
        min-height: 178px;
        height: auto !important;
        height: 178px;
    }

}

/* Medium Devices Styles Starts */

@media (min-width: 992px) and (max-width: 1199px) {

    /* Navigation Styles Starts */

    #nav .dropdown:hover .dropdown-menu {
        display: block;
    }

    /* Features Block Styles Starts */

    .features-list li .fa {
        font-size: 64px;
    }

    /* Bio Section Styles Starts */

    .bio-section .counter li {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Gallery Styles Starts */

    ul#gallery-grid.col3 li {
        min-height: 195px;
        height: auto !important;
        height: 195px;
    }
    ul#gallery-grid.col3-text li {
        min-height: 371px;
        height: auto !important;
        height: 371px;
    }
    ul#gallery-grid.col4 li {
        min-height: 145px;
        height: auto !important;
        height: 145px;
    }
}

/* Small Devices Styles Starts */

@media (min-width: 768px) and (max-width: 991px) {

    /* Top Bar Styles Starts */

    .top-bar {
        font-size: 16px;
    }

    /* Navigation Styles Starts */

    #nav.navbar-default .navbar-nav > li > a {
        padding-left: 5px;
        padding-bottom: 5px;
        font-size: 16px;
    }
    #nav .dropdown:hover .dropdown-menu {
        display: block;
    }
    #nav .dropdown-menu > li > a {
        font-size: 14px;
    }

    /* Slider Styles Starts */

    .camera_wrap h2 {
        font-size: 38px;
    }
    .camera_caption {
        width: 65%;
        left: 15%;
        top: 38%;
    }
    .camera_caption > div {
        padding: 20px 40px;
    }

    /* Welcome Section Styles Starts */

    .welcome p.lead {
        font-size: 22px;
        line-height: 38px;
    }

    /* Features Block Styles Starts */

    .features-list li .fa {
        font-size: 48px;
    }
    .features-list li p {
        line-height: 18px;
    }

    /* Appointment Styles Starts */

    .appointment-block .form-group {
        margin-bottom: 10px;
    }

    /* Bio Section Styles Starts */

    .bio-section .counter {
        margin-top: 0;
        margin-bottom: 0;
    }
    .bio-section .counter li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bio-section .counter h3 {
        font-size: 30px;
    }
    .bio-section .counter h3 strong {
        font-size: 40px;
    }

    /* Gallery Styles Starts */

    ul#gallery-grid.col3 li {
        min-height: 229px;
        height: auto !important;
        height: 229px;
    }
    ul#gallery-grid.col3-text li {
        min-height: 376px;
        height: auto !important;
        height: 376px;
    }
    ul#gallery-grid.col4 li {
        min-height: 233px;
        height: auto !important;
        height: 233px;
    }

    /* Tabs Styles Starts */

    .tabs-wrap ul.nav-tabs li a {
        padding: 10px 20px;
        font-size: 15px;
    }

    /* Footer Styles Starts */

    .footer-main-head {
        padding-top: 30px;
        background: url(../images/foot-logo-icon.png) no-repeat left 37px;
    }

    /* Genric Styles Starts */

    .text-center-sm {
        text-align: center;
    }
    .img-center-sm {
        margin-left: auto;
        margin-right: auto;
    }

}

/* Extra Small Devices Styles Starts */

@media (max-width: 767px) {

    /* Top Bar Styles Starts */

    .top-bar {
        font-size: 15px;
    }
    .top-bar li.pull-left,
    .top-bar li.pull-right {
        float: none !important;
        display: block;
        text-align: center;
    }

    /* Navigation Styles Starts */

    #nav .navbar-toggle {
        margin-top: 35px;
    }
    #nav .nav {
        margin-top: 10px;
    }

    /* Welcome Section Styles Starts */

    .welcome p.lead {
        font-size: 18px;
        line-height: 30px;
    }

    /* Features Block Styles Starts */

    .features-list li .fa {
        font-size: 52px;
    }
    .features-list li p {
        line-height: 18px;
    }

    /* Profile Section Styles Starts */

    .profile-box:before {
        display: none;
    }
    .profile-box .content {
        padding: 20px;
    }

    /* Appointment Styles Starts */

    .appointment-form {
        margin-top: 40px;
    }

    /* Bio Section Styles Starts */

    .bio-section .counter {
        margin-top: 0;
        margin-bottom: 0;
    }
    .bio-section .counter li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bio-section .counter h3 {
        font-size: 20px;
    }
    .bio-section .counter h3 strong {
        font-size: 30px;
    }

    /* Gallery Styles Starts */

    ul#gallery-filter {
        text-align: center;
    }
    ul#gallery-filter li {
        font-size: 16px;
    }
    ul#gallery-filter li + li {
        margin-left: 5px;
    }
    ul#gallery-grid.col3 li {
        min-height: 171px;
        height: auto !important;
        height: 171px;
    }
    ul#gallery-grid.col3-text li {
        min-height: 346px;
        height: auto !important;
        height: 346px;
    }
    ul#gallery-grid.col4 li {
        min-height: 174px;
        height: auto !important;
        height: 174px;
    }
    ul#gallery-grid li .img-responsive {
        margin-left: auto;
        margin-right: auto;
    }

    /* Tabs Styles Starts */

    .tabs-wrap ul.nav-tabs li + li {
        border: solid #d5d5d5;
        border-width: 1px 0 0;
    }
    .tabs-wrap ul.nav-tabs li {
        display: block;
        float: none;
    }

    /* Side Block Styles Starts */
    .side-block-1:first-of-type {
        margin-top: 40px;
    }

    /* Footer Styles Starts */

    .footer-links-style-1 {
        margin-bottom: 30px;
    }
    .footer-links-style-2 li {
        font-size: 16px;
    }
    .footer-main-head {
        background: url(../images/foot-logo-icon.png) no-repeat left 9px;
    }
    .footer-sm-links li + li {
        margin-left: 10px;
    }
    .footer-sm-links li .fa {
        font-size: 30px;
    }

    /* Genric Styles Starts */

    .text-center-xs {
        text-align: center;
    }
    .img-center-xs {
        margin-left: auto;
        margin-right: auto;
    }

}