/*
    Template header footer
    https://medium.com/@Idan_Co/the-ultimate-print-html-template-with-header-footer-568f415f6d2a
*/
.page-header, .page-header-space {
    height: 200px;
}
.page-footer, .page-footer-space {
    height: 160px;
}
.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.page-header {
    position: fixed;
    top: 3mm;
    width: 100%;
}
.page {
    page-break-after: always;
}
table {
    width: 100%;
}
@media print {
    thead {display: table-header-group;}
    tfoot {display: table-footer-group;}
    body {margin: 0;}

}
/************/
p.break-spacing {
    line-height: 7px;
}
/*
    Relatorio médico
*/
.medico .page-header, .page-header-space {
    height: 210px !important;
}
.medico .page-footer, .page-footer-space {
    height: 160px !important;
}
.medico .header {
    font-size: 10px !important;
}
.medico .header-info strong {
    font-size: 10px !important;
    font-family:Times New Roman,Times,serif
}
.medico .footer-info {
    font-size: 10px !important;
    margin-top: 0px !important;
}
.medico .assinatura {
    max-width: 350px !important;
    font-size: 10px !important;
    margin-top: 0px !important;
}
.medico .content > p {
    font-size: 8px !important;
}
.medico .logo {
    text-align: left !important;
    float: left !important;
    padding-left: 20px !important;
}
.medico .data-patient {
    margin-left: -20px !important;
}
/******************/



.tabela-medidas th {
    text-align: left !important;
}

.tabela-medidas .title{
    background-color: #CCC;
    -webkit-print-color-adjust: exact;
    padding: 5px;
}
.header {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.data-patient {
    padding-top: 0px;
}
.header-info {
    line-height: 18px;
}
.header-info span {
    font-weight: normal;
}
.header-info strong {
    font-weight: bold;
    font-size: 14px;;
}
.header .title-center {
    max-width: 90%;
    margin: auto;
}
.logo {
    width: 80px;
    height: 80px;
    padding-right: 15px;
}
.title {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.title-copia-medico{
    margin-block-start: 0.1em;
    margin-block-end:-1.9em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.table-info tr {
    font-size: 9px;
}
.table-info tr th {
    font-weight: normal;
}
.table-estruturas {
    font-size: 10px;
}

.assinatura {
    max-width: 500px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 0px;
    font-weight: bold;
    font-size: 12px
}

.footer-info {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

p {
    display: block;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}