
.helvetica{

}
.pront-doc-01 .logo{
    border-bottom:6px solid #ccc;
}
.pront-doc-01 .logo img{
    max-width: 500px;
}
.paciente p{
    padding-left: 60px;
    font-weight: 700;
}
.paciente .col-md-6:first-child{
    margin-left: 100px;
}
.paciente{
    margin-bottom: 100px;
}
.col-md-6{
    width: 50%;
    float: left;
}

.titulo{
    margin-bottom:20px;
}
.topo{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:10px;
    font-size: 12pt;
    font-weight: normal;

}
.descricao{
    width: 800px;
}
.descricao div{
    float: left;
}
.text-left{
    text-align: left;
}
.clearfix{
    clear: both;
}

.text-right{
    text-align: right;
}
.titulo{
    color: #000;
    text-align: center;
    font-size:28px;
    font-weight: 100;
}

.corpo{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt !important;
    margin-bottom:100px;
}

.assinatura h3{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
    font-size:9pt;
    font-weight: normal;

}

.assinatura h2{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 9pt;
}
.footer.fixed {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 9pt;
    position: fixed;
    bottom: 120px;
    left: 0;
    right: 0;
    z-index: 1000;
    font-weight: bold;

}

.pront-doc-02 .logo {
    width: 150;
}

.img_logo{
    width: 600px;
    height: 200px;
}

hr{
    margin-left: 0px ;
    width: 1410px;
    height: 2px;
    background-color: green;
    color: green;
}