.header-txt {
    width: 100%;
    text-align: center; 
    padding: 5px;
}
#local{
    border:1px solid #000;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    clear: both;
}
.logo {
    width: 280px !important;
    text-align: right;
}
#atribuicoes .col-md-6{
    text-align: left;
    width: 50%;
    float: left;
    font-size: 11pt;
}
#tabela tr th{
    font-size: 12pt;
    font-family: "Times New Roman";
    text-align: left;
}

#tabela{
    clear: both;
    margin-left:40px;
    margin-bottom: 20pt;

}

#assinatura{
    text-align: right;
    font-size: 12pt;
    font-family: "Times New Roman";
}
#content{
    position: relative;
    /*font-size:12pt !important;*/
	line-height:1


}

#sing{
    position: relative;
    margin-top: 200pt;
    float: right;
    width: 400px;
    text-align: center;
}

.col-md-2{
    width: 15%;
    float: left;
    padding-top: 5pt;
    padding-left: 5pt;

}
.col-md-10{
    width: 85%;
    padding-left: 15pt;
}
.col-md-12{
    width: 100%;
}
.clearfix{
    clear: both;

}
#footer .col-md-5{
    text-align: center;
    width: 50%;
    float: left;
    font-size: 11pt;
    margin-bottom: -5pt;
}
#footer .col-md-5 small{
    font-size: 9pt;
}
#footer .col-md-5 ul li{
    font-family: Arial !important;
}

#footer .col-md-6{
    width: 50%;
    float: left;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 55pt;
}

#documentado .col-md-6{
    width: 50%;
    float: left;
    font-size: 8pt;

}