#local{
    border:1px solid #000;
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
    clear: both;
}

#atribuicoes .col-md-6{
    text-align: left;
    width: 50%;
    float: left;
    font-size: 11pt;
}
#tabela tr th{
    font-size: 12pt;
    font-family: "Times New Roman";
    text-align: left;
}

#tabela{
    clear: both;
    margin-left: -70px;
    margin-bottom: 20pt;
}

#assinatura{
    text-align: right;
    font-size: 12pt;
    font-family: "Times New Roman";
}
#content{
    position: relative;
    line-height:1;
}

#sing{
    position: relative;
    margin-top: 200pt;
    float: right;
    width: 400px;
    text-align: center;
}

.col-md-2{
    width: 15%;
    float: left;
    padding-top: 5pt;
    padding-left: 5pt;

}
.col-md-10{
    width: 85%;
    padding-left: 15pt;
}
.col-md-12{
    width: 100%;
}
.clearfix{
    clear: both;

}

#footer {
    position: fixed;
    left: 0px;
    text-align: center;
    right: 0px;
    height: 150px;
    border: 1px solid #000;
}

#documentado .col-md-6{
    width: 50%;
    float: left;
    font-size: 8pt;
}
.logo {
    max-width: 200px;
    border: 1px solid #000;
}
.logo img {
    width: 100%;
}
#assinatura-print {
    max-width: 600px;
    margin: auto;
    padding-top: 80px;
}
#assinatura-print ul {
    text-align: center;
    margin-top: -13px;
}
#assinatura-print ul li {
    list-style: none;
}