@page {
        margin: 380px 50px;
    }
    #header { position: fixed; left: 0px; top: -250px; right: 0px; height: 150px;}
    #header img{
    max-width: 500px;
    }
    #footer {
        position: fixed;
        left: 0px;
        bottom: -380px;
        right: 0px;
        height: 150px;
        border: 1px solid #000;
    }
    #footer img {
        width: 100%;
        height: 150px;
    }
    #h1{
        font-family: Tahoma;
        font-size: 50px;
    }
    #h2{
        font-family: Tahoma;
        font-size: 40px;
    }

    /* Prints */
    .row {margin-right: -15px;margin-left: -15px;}
    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width:100%; float:left;}
    .text-right {text-align: right;}
    .text-center{text-align: center;}
    #image-print {
     position: fixed;
        left: 0px;
        top: -325px;
        right: 0px;
        height: 150px;
    }
    #image-print img {
        width: 100%;
        height: 150px;
    }
    /*.border{
        border: 1px solid;
    }*/
    
    .lista-info li{
        list-style: none;
    }
    .content {
        margin-top: 250px;
        position: relative;
    }
    .pagination-print {
        text-align: center;
    }
    #assinatura-print {
        max-width: 600px;
        margin: auto;
        padding-top: 80px;
    }
    #assinatura-print ul {
        text-align: center;
        margin-top: -13px;
    }
    #assinatura-print ul li {
        list-style: none;
    }
.logo {
    max-width: 300px;
}
.logo img {
    width: 100%;
}