
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Cliente Anexos</h2>
        <ol class="breadcrumb">
            <li>Cliente Anexos</li>
            <li class="active">
                <strong>Listagem de Cliente Anexos</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-right">
                <p>
                    <?= $this->Html->link($this->Html->icon('plus').' Cadastrar Cliente Anexos', ['action' => 'add'],['data-toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Cadastrar Cliente Anexos','class'=>'btn btn-primary','escape' => false]) ?>
                </p>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><?= __('Cliente Anexos') ?></h5>
                </div>
                <div class="ibox-content">
                    <div class="clearfix">
                        <div class="table-responsive">
                            <table class="table table-hover">
        <thead>
            <tr>
                <th><?= $this->Paginator->sort('id',['label'=>'Código']) ?></th>
                <th><?= $this->Paginator->sort('cliente_id') ?></th>
                <th><?= $this->Paginator->sort('tipoanexo_id',['label' => 'Tipo Anexo']) ?></th>
                <th><?= $this->Paginator->sort('anexo') ?></th>
                <th><?= $this->Paginator->sort('user_id', ['label' => 'Usuário']) ?></th>
                <th><?= $this->Paginator->sort('situacao_id', ['label' => 'Situação']) ?></th>
                <th><?= $this->Paginator->sort('created', ['label' => 'Criado']) ?></th>
                <th><?= $this->Paginator->sort('modified', ['label' => 'Modificado']) ?></th>
                <th class="actions"><?= __('Ações') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($clienteAnexos as $clienteAnexo): ?>
            <tr>
                <td><?= $this->Number->format($clienteAnexo->id) ?></td>
                <td><?= $clienteAnexo->has('cliente') ? $this->Html->link($clienteAnexo->cliente->nome, ['controller' => 'Clientes', 'action' => 'view', $clienteAnexo->cliente->id]) : '' ?></td>
                <td><?= $clienteAnexo->has('tipo_anexo') ? $this->Html->link($clienteAnexo->tipo_anexo->nome, ['controller' => 'TipoAnexos', 'action' => 'view', $clienteAnexo->tipo_anexo->id]) : '' ?></td>
                <td><?= h($clienteAnexo->anexo) ?></td>
                <td><?= $clienteAnexo->has('user') ? $this->Html->link($clienteAnexo->user->nome, ['controller' => 'Users', 'action' => 'view', $clienteAnexo->user->id]) : '' ?></td>
                <td><?= $clienteAnexo->has('situacao_cadastro') ? $this->Html->link($clienteAnexo->situacao_cadastro->nome, ['controller' => 'SituacaoCadastros', 'action' => 'view', $clienteAnexo->situacao_cadastro->id]) : '' ?></td>
                <td><?= h($clienteAnexo->created) ?></td>
                <td><?= h($clienteAnexo->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link($this->Html->icon('pencil'), ['action' => 'edit', $clienteAnexo->id],['toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Editar','escape' => false,'class'=>'btn btn-xs btn-primary']) ?>
                    <?= $this->Form->postLink($this->Html->icon('remove'), ['action' => 'delete', $clienteAnexo->id], ['confirm' => __('Você tem certeza que deseja excluir o registro # {0}?', $clienteAnexo->id),'toggle'=>'tooltip','data-placement'=>'bottom','title'=>'Deletar','escape' => false,'class'=>'btn btn-xs btn-danger']) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div style="text-align:center">
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev($this->Html->icon('chevron-left'),['escape' => false]) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next($this->Html->icon('chevron-right'),['escape' => false]) ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

