<div class='col-md-6'>
    <?=$this->Form->input('nome'); ?>
</div>
<div class='col-md-6'>
    <?=$this->Form->input('procedimento_id', ['class' => 'select2', 'options' => $procedimentos, 'empty' => 'Selecione']); ?>
</div>