<div class='col-md-6'>
    <?php echo $this->Form->input('nome'); ?>
</div>
<div class="col-md-6">
    <?php echo $this->Form->input('cor', ['type' => 'color']); ?>
</div>
<div class="col-md-6">
    <?php echo $this->Form->input('cor_salaespera', ['type' => 'color']); ?>
</div>